<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invitation mail at the meeting {{ meeting.title }}</title>
</head>

<body>
    You're invited by {{ meeting.chairperson }} at the meeting {{ meeting.title }}.

    Please click on this link to confirm the invitation.
    <a href="http://localhost:8000/auth/register/">
        Confirmation link
    </a>

</body>

</html>