<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="../index.html">
                <b>
                    SmartMeeting
                </b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <b>
                            <i class="material-icons">home</i>Home
                        </b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <b>
                            <i class="material-icons">dashboard</i>Dashboard
                        </b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_meeting' %}">
                        <b>
                            <i class="material-icons">add_circle</i>Create a new Meeting
                        </b>
                    </a>
                </li>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">account_circle</i>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="../index.html" class="dropdown-item">
                            <b>
                                <i class="material-icons">settings</i> Settings
                            </b>
                        </a>

                        <a href="{% url 'logout' %}" class="dropdown-item">
                            <i class="material-icons">exit_to_app</i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>